{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Overview of your lessons in the cart">
{% endblock %}

{% block extra_title %} | Cart{% endblock %}

{% block page_header%}
    <header>
        <div class="container-fluid d-flex justify-content-center">
        
            <div class="row">
                <div class="col"><h1>Your chosen lessons</h1></div>
            </div>
        </div>
        
    </header>
{% endblock %}




{% block content %}
<main>
        <div class="container-fluid d-flex justify-content-center">
        <div class="row">
            <div class="col my-2">

                        <!--iterate through cart items-->
                        {% if cart_items %}
                            {% for item in cart_items %}
                        
                            <div class="card mb-3" style="max-width: 600px;">
                                <div class="row g-0">
                                    
                                    <div class="col">
                                        <div class="card-body">

                                            <h5 class="card-title">{{ item.lesson.date_time }} - {{ item.lesson.duration }} - {{ item.lesson.name }}</h5>
                                            <p class="card-text"><small class="text-body-secondary">Place: {{ item.lesson.place }}</small></p>
                                            
                                            <p class="card-text bold">{{ item.quantity }} x $ {{ item.lesson.price | floatformat }}</p>
                                            <form action="{% url 'remove_from_cart' item.lesson.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="submit" class="btn cancel-button remove-item" value="Remove" />

                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </form>

                                        </div>
                                    </div>
                                    
                                </div>
                                    
                            </div>

                        {% endfor %}

                        <div class="col"><p>Grand total: {{ grand_total }}</p></div>
                        <a href="{% url 'checkout' %}" class="btn book-button">Pay</a>


                        {% else %}

                        <p>There are no lessons here.</p>
                        <a href="{% url 'lessons' %}" class="btn book-button">Go back to all lessons</a>

                        {% endif %}

            </div>
        </div>
    </div>
        



</main>
{% endblock %}

