{% extends 'base.html' %}
{% load static %}


{% block page_header%}
    <header>
        {% include 'includes/main-nav.html' %}
    </header>
{% endblock %}




{% block content %}
<main>
    <div class="container-fluid d-flex justify-content-center mt-2">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <h2 class="text-center text-md-start">About Court Love</h2>
                <p>Court Love offers tennis lessons that are fun and helpful. Our coaches are professionals with a long tennis career and have different areas of expertise. When you book a lesson, you will leave smiling knowingwhat to do when you are alone on the coart next match!
                </p>

            </div>

            <div class="col-md-5">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="../../../media/tennis-2042725_1280.jpg " class="d-block w-100" alt="tennis racquet and ball">
                        </div>
                        <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
            </div>

        </div>
    </div>
</main>
{% endblock %}