{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="About Court Love and how it works">
{% endblock %}

{% block extra_title %} | Home{% endblock %}

{% block page_header%}
    <header>
        {% include 'includes/main-nav.html' %}
    </header>
{% endblock %}




{% block content %}
<main>
    <div class="container-xxl d-flex justify-content-center my-3">
        <div class="row justify-content-center">
            <section>
            <div class="col-md-5 col-xl-4">
                <h2 class="text-center text-md-end">About Court Love</h2>
                <p class="text-center text-md-end">Court Love offers tennis lessons that are fun and helpful. Our coaches are professionals with a long tennis career and have different areas of expertise. You can focus
                    on your serve, net or baseline play, a specific play style and you can always come with suggestions.
                    When you book a lesson, you will leave smiling knowing what to do when you are alone on the court next match!
                </p>

            </div>
            </section>
            

            <div class="col-md-5 col-xl-4">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="{% static 'images/training.webp' %}" class="d-block w-100" alt="tennis training with coach">
                        </div>
                        <div class="carousel-item">
                        <img src="{% static 'images/outdoor.webp' %}" class="d-block w-100" alt="outdoor tennis courts">
                        </div>
                        <div class="carousel-item">
                        <img src="{% static 'images/doubles.webp' %}" class="d-block w-100" alt="tennis doubles match">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl d-flex justify-content-center my-3">
        <div class="row justify-content-center">
            <div class="col-md-5 col-xl-4 mt-2">
                <img src="{% static 'images/racquet.webp' %}" class="d-block w-100" alt="tennis racquet and ball">
            </div>
        
            

        
            
            <div class="col-md-5 col-xl-4 mt-2">
                <section>
                <h2 class="text-center text-md-start">How does it work</h2>
                <p class="text-center text-md-start">With us, you book only when it suits you. Check out our lessons and see what theme and date suits you. We offer both private and group lessons, for different levels and prices.
                    You can book 1 place per person. 
                    
                </p>
                </section>
                <section>
                <h2 class="text-center text-md-start">Register</h2>

                <p class="text-center text-md-start">You can register with us and create a profile. Fill in your level in your profile so your coach can prepare accordingly. If you want, your coach can also alter your level after a lesson.</p>
                </section>
            </div>
            

        </div>
    </div>
</main>
{% endblock %}