{% extends 'base.html' %}
{% load static %}


{% block page_header%}
    <header>
        <div class="container-fluid d-flex justify-content-center">
        
            <div class="row">
                <div class="col"><h1>Checkout</h1></div>
            </div>
        </div>
        
    </header>
{% endblock %}




{% block content %}
<main>
    <div class="container-fluid d-flex justify-content-center">
        <div class="row">
            <div class="col-md-7">
                <h2>Order details</h2>

                <form></form>

                






            </div>
            <div class="col-md-5">

                <!--iterate through cart items-->
                <h2>Order summary</h2>
            
                {% for item in cart_items %}
            
                <div class="card mb-3" style="max-width: 600px;">
                    <div class="row g-0">
                        
                        <div class="col">
                            <div class="card-body">

                                <h5 class="card-title">{{ item.lesson.date_time }} - {{ item.lesson.duration }} - {{ item.lesson.name }}</h5>
                                <p class="card-text"><small class="text-body-secondary">Place: {{ item.lesson.place }}</small></p>
                                <p class="card-text bold">{{ item.quantity }} x $ {{ item.lesson.price | floatformat }}</p>
                                

                            </div>
                        </div>
                        
                    </div>
                        
                </div>
                {% endfor %}

            

                <p>Grand total: {{ grand_total }}</p>
                <a href="{% url 'view_cart' %}" class="btn book-button">Go back to cart</a>



                    

            </div>
        </div>
    </div>
        



</main>
{% endblock %}

