/*profile image*/
.profile-image {
    max-width: 250px;
    max-height: 250px;
}

/*custom width crispy fields*/
input, select {
    max-width: 85vw;

}

/*image button styles, copied from Boutique Ado*/
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/*Remove image text styles*/

.custom-control {
    display: inline-block;
    background-color: var(--highlight-color);
}

