{% extends "base.html" %}

{% load i18n %}
{% block extra_title %} | Change password{% endblock %}

{% block page_header%}
    <header>
        <div class="container-fluid d-flex justify-content-center">
        
            <div class="row">
                <div class="col">{% if token_fail %}Bad token{% else %}Change password{% endif %}</h1></div>
            </div>
        </div>
        
    </header>
{% endblock %}

{% block content %}
<main>
  <div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col my-2">

            

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="link-text" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class="btn login-button" name="action" value="Change password"/>
                </form>
            {% endif %}
        </div>
    </div>
  </div>
</main>
{% endblock %}
