{% extends "base.html" %}

{% load i18n %}

{% block extra_title %} | Set password{% endblock %}

{% block page_header%}
    <header>
        <div class="container-fluid d-flex justify-content-center">
        
            <div class="row">
                <div class="col"><h1>Set password</h1></div>
            </div>
        </div>
        
    </header>
{% endblock %}

{% block content %}
<main>
  <div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col my-2">
    

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn login-button" name="action" value="Set password"/>
            </form>
        </div>
    </div>
 </div>
</main>
{% endblock %}
