{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %} | Password reset{% endblock %}

{% block page_header%}
    <header>
        <div class="container-fluid d-flex justify-content-center">
        
            <div class="row">
                <div class="col"><h1>Password reset</h1></div>
            </div>
        </div>
        
    </header>
{% endblock %}

{% block content %}
<main>
  <div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col">

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>Have you forgotten your password? Enter your e-mail address below, and we will send you an e-mail allowing you to reset it.</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn login-button" value="Reset my password" />
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
 </div>
</main>
{% endblock %}
