/*Adapted from Boutique Ado*/

.StripeElement,
.stripe-style-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  /*border-radius matches rounded class*/
  border-radius: 0.375rem;
  background-color: white;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::-webkit-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::-moz-placeholder {
    color: #aab7c4;
}

.stripe-style-input:-ms-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::-ms-input-placeholder {
    color: #aab7c4;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/*White background for errors*/
#card-errors {
    background-color: #fff;
    display: inline-block;
}


/*Media queries for error block because when there is a lot of text, it goes to max-width and changes everything
399.2px is what the fields normally are before the large error comes up when you start your card with 424242 but then change numbers
Since all the fields change, I set this max-with to the fields as well to prevent the hop in lay-out*/

@media screen and (width > 767px  ) {
#card-errors, #card-element, input {
  max-width: 399.2px;
}
}