{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Edit a lesson here">
{% endblock %}

{% block extra_title %} | Edit lesson{% endblock %}

{% block page_header%}
    <header>
        <div class="container-fluid d-flex justify-content-center">
        
            <div class="row">
                <div class="col"><h1>Edit lesson</h1></div>
            </div>
        </div>
        
    </header>
{% endblock %}




{% block content %}
<main>
    <div class="container-fluid d-flex justify-content-center">
        <div class="row">
            <div class="col">
                
                
                <form method="POST" action="{% url 'edit_lesson' lesson.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    
                        <a class="btn cancel-button" href="{% url 'lessons' %}">Cancel</a>
                        <button class="btn book-button" type="submit">Update lesson</button>
                    
                </form>






            </div>
            
        </div>
    </div>
        



</main>
{% endblock %}


