{% extends 'base.html' %}
{% load static %}


{% block page_header%}
    <header>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center my-2">
             
                <div class="col-6 mb-3 mb-sm-0 col-sm-3 col-md-2 col-xxl-1 d-flex justify-content-center">  
                    <div class="category-button btn">
                        <a href="{% url 'lessons' %}?category=group&place=indoor">Group - Indoor</a>
                    </div>
                 </div>  
                <div class="col-6 mb-3 mb-sm-0 col-sm-3 col-md-2 col-xxl-1 d-flex justify-content-center"> 

                    <div class="category-button btn">
                        <a href="{% url 'lessons' %}?category=group&place=outdoor">Group - Outdoor</a>
                    </div>
                </div>  
                <div class="col-6 col-sm-3 col-md-2 col-xxl-1 d-flex justify-content-center"> 
                
                    <div class="category-button btn">
                        <a href="{% url 'lessons' %}?category=private&place=indoor">Private - Indoor</a>
                    </div>
                 </div>  
                <div class="col-6 col-sm-3 col-md-2 col-xxl-1 d-flex justify-content-center"> 

                    <div class="category-button btn">
                        <a href="{% url 'lessons' %}?category=private&place=outdoor">Private - Outdoor</a>
                    </div>
                </div>            
                
            </div>
        </div>
    </header>
{% endblock %}




{% block content %}
    <main>

        <div class="container-fluid d-flex justify-content-center">
            <!--This text differs depending on which button the user clicked on, or when user is viewing all lessons-->
            <div class="row my-2">
                <div class="col">  
                {% for c in current_categories %}
                    <h2>All {{ c.friendly_name|lower }}s
                {% endfor %}{% for p in current_places %}
                    - {{ p.place }}
                {% endfor %}</h2>
                {% if not current_categories %}<h2>All lessons</h2>{% endif %}
                <p>Outdoor lessons are at Outdoor street 2, 12345 Tennisville.</p>
                <p>Indoor lessons are at Indoor street 1 12345 Tennicity.</p>
                </div>
            </div>
        </div>

        <div class="container-fluid d-flex justify-content-center">
            <div class="row">
                <div class="col">    
                {% for lesson in lessons %}               
                    <div class="card mb-3" style="max-width: 600px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                {% if lesson.image %}
                                <img src="{% static 'images/' %}{{ lesson.image }}" class="img-fluid rounded rounded-md-start" alt="{{ lesson.name }} image">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ lesson.date_time }} - {{ lesson.duration }} - {{ lesson.name }}</h5>
                                    <p class="card-text">{{ lesson.description }}</p>
                                    <p class="card-text"><small class="text-body-secondary">Place: {{ lesson.place }}</small></p>
                                    <p class="card-text"><small class="text-body-secondary">Level: {{ lesson.level_interval }}</small></p>
                                    <p class="card-text"><small class="text-body-secondary">Capacity: {{ lesson.capacity }}</small></p>
                                    <p class="card-text"><small class="text-body-secondary">Places left: {{ lesson.places_left }}</small></p>

                                    <p class="card-text bold">$ {{ lesson.price | floatformat }}</p> 
                                    
                                    
                                    <!--Form to add to cart-->
                                    <form action="{% url 'add_to_cart' lesson.id %}" method="POST">
                                        {% csrf_token %}
                                        <div>
                                            <div class="col-12 visually-hidden">
                                                
                                                
                                                    <div class="input-group">
                                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="1">
                                                    </div>
                                                
                                            </div>
                                            
                                            <div class="col-12 py-2">
                                            {% if not lesson.places_left %}
                                                <button class="btn cancel-button" value="Not bookable" disabled>Not bookable</button>
                                            {% else %}
                                                <input type="submit" class="btn book-button" value="Add to cart">
                                            {% endif %}
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </form>

                                    <!--Edit and delete button for superusers only-->
                                    {% if request.user.is_superuser %}
                                    <div class="card-footer">
                                            <a class="btn book-button" href="{% url 'edit_lesson' lesson.id %}">Edit</a>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn cancel-button" data-bs-toggle="modal" data-bs-target="#deleteLessonModal_{{ lesson.id }}">Delete</button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="deleteLessonModal_{{ lesson.id }}" tabindex="-1" aria-labelledby="deleteLessonModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="deleteLessonModalLabel">Are you sure you want to delete this lesson?</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {{ lesson.id }}
                                                                {% if lesson.id in ordered_lessons %}
                                                                <!--When a lesson id is in the orderlineitem model, it has been booked so superuser is notified-->
                                                                <p>Note that this lesson has been booked before. Users will not be informed or refunded automatically.</p>
                                                            {% endif %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn book-button" data-bs-dismiss="modal">Do not delete</button>
                                                            <a class="btn cancel-button" href="{% url 'delete_lesson' lesson.id %}">Delete lesson</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    {% endif %}







                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
       
    </main>
{% endblock %}