{% extends 'base.html' %}
{% load static %}


{% block page_header%}
    <header>
        <div class="container-fluid d-flex justify-content-center">
            <div class="row my-2"> 
                <div class="col">  
                    <div class="category-button btn">
                        <a href="{% url 'lessons' %}?category=group&place=indoor">Group - Indoor</a>
                    </div>

                    <div class="category-button btn">
                        <a href="{% url 'lessons' %}?category=group&place=outdoor">Group - Outdoor</a>
                    </div>
                
                    <div class="category-button btn">
                        <a href="{% url 'lessons' %}?category=private&place=indoor">Private - Indoor</a>
                    </div>

                    <div class="category-button btn">
                        <a href="{% url 'lessons' %}?category=private&place=outdoor">Private - Outdoor</a>
                    </div>
                </div>            
                
            </div>
        </div>
    </header>
{% endblock %}




{% block content %}
    <main>

        <div class="container-fluid d-flex justify-content-center">
            
            <div class="row my-2">
                <div class="col">  
                {% for c in current_categories %}
                    <h2>All {{ c.friendly_name|lower }}s
                {% endfor %}{% for p in current_places %}
                    - {{ p.place }}</h2>
                {% endfor %}
                {% if not current_categories %}<h2>All lessons</h2>{% endif %}
                </div>
            </div>
        </div>

        <div class="container-fluid d-flex justify-content-center">
            <div class="row">
                <div class="col">    
                {% for lesson in lessons %}               
                    <div class="card mb-3" style="max-width: 600px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ lesson.date_time }} - {{ lesson.duration }} - {{ lesson.name }}</h5>
                                    <p class="card-text">{{ lesson.description }}</p>
                                    <p class="card-text"><small class="text-body-secondary">Place: {{ lesson.place }}</small></p>
                                    <p class="card-text"><small class="text-body-secondary">Level: {{ lesson.level }}</small></p>
                                    <p class="card-text"><small class="text-body-secondary">Capacity: {{ lesson.capacity }}</small></p>
                                    <p class="card-text bold">$ {{ lesson.price | floatformat }}</p> 
                                    <a href="#" class="btn book-button">Book</a>




                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
       
    </main>
{% endblock %}